.head-line{
    margin-top: 1em;
    display:flex; /* 자식요소를 중앙으로 이동 */
    justify-content: center;
}
.head-line svg {
    width:430px;
}
.menus{
    margin-top: 1em;
    padding:1em;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top:1px solid #ebebeb;
    border-bottom:4px double black;
}
.menus button{
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover{
    background-color: burlywood;
}
.news-img-size{
    max-width:100%; /* 부모넓이의 100% */
    max-height: 250px;
    
}
.news{
    margin-top: 1em;
    border-bottom:2px double black;
    padding-bottom: 2em;
}